<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>[可爱]</string>
	<string>[笑脸]</string>
	<string>[囧]</string>
	<string>[生气]</string>
	<string>[鬼脸]</string>
	<string>[花心]</string>
	<string>[害怕]</string>
	<string>[我汗]</string>
	<string>[尴尬]</string>
	<string>[哼哼]</string>
	<string>[忧郁]</string>
	<string>[呲牙]</string>
	<string>[媚眼]</string>
	<string>[累]</string>
	<string>[苦逼]</string>
	<string>[瞌睡]</string>
	<string>[哎呀]</string>
	<string>[刺瞎]</string>
	<string>[哭]</string>
	<string>[激动]</string>
	<string>[难过]</string>
	<string>[害羞]</string>
	<string>[高兴]</string>
	<string>[愤怒]</string>
	<string>[亲]</string>
	<string>[飞吻]</string>
	<string>[得意]</string>
	<string>[惊恐]</string>
	<string>[口罩]</string>
	<string>[惊讶]</string>
	<string>[委屈]</string>
	<string>[生病]</string>
</array>
</plist>
